# Ignore Precompiled files #
*.pyc
*.pkl
*.py~
*.pyo
# Ignore Logfiles #
*.txt
# Ignore Data #
*.mat
# Ignore Backup #
backup/
# Ignore virtenv #
virtenv/
# Ignore PyCharm files #
.idea/
# Ignore Visual Studio Code files #
.vscode/
# Ignore python version file
.python-version
